<form [formGroup]='formulario' (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Nome</label>
                <input readonly type="text" formControlName="nome" class="form-control col-sm-8" [class.is-invalid]="!this.formulario.controls.nome.valid">
                <div class="col-sm-6 mx-auto invalid-feedback" *ngIf="this.formulario.controls.nome.errors">
                    <small>campo nome não pode ser vazio</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Sobrenome</label>
                <input readonly type="text" formControlName="sobrenome" class="form-control col-sm-8" [class.is-invalid]="!this.formulario.controls.sobrenome.valid">
                <div class="col-sm-6 mx-auto invalid-feedback" *ngIf="this.formulario.controls.sobrenome.errors">
                    <small>campo sobrenome não pode ser vazio</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Email</label>
                <input readonly type="text" formControlName="email" class="form-control col-sm-8" [class.is-invalid]="!this.formulario.controls.email.valid">
                <div class="col-sm-6 mx-auto invalid-feedback" *ngIf="this.formulario.controls.email.errors">
                    <small>email inválido</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Senha</label>
                <input readonly type="password" formControlName="senha" class="form-control col-sm-8" [class.is-invalid]="!this.formulario.controls.senha.valid">
                <div class="col-sm-6 mx-auto invalid-feedback" *ngIf="this.formulario.controls.senha.errors">
                    <small>A senha deve ter pelo menos 8 caracteres</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-5">Data de Nascimento</label>
                <input readonly type="date" formControlName="dtNascimento" class="data form-control col-sm-6">
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Usuário</label>
                <input readonly type="text" formControlName="usuario" class="form-control col-sm-8">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-4">
            <div class="row">
                <label class="my-auto col-sm-3">Conta</label>
                <input readonly type="text" formControlName="conta" class="form-control col-sm-8">
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="botao-salvar">
        <button type="submit" class="btn  mt-4">Cadastrar</button>
    </div>
</form>